*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 225px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #bdc3c7;
}

.sidebarHeader{
    width: 100%;
    margin-bottom: 8px;
}
.photoPerfil img{
    width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
